html, body, body > #root, .App {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.code-block-container {
  position: relative;
  width: 500px;
  height: 500px;
}

.code-block-input, .code-block-output {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 1.5em;
  word-wrap: break-word;
  font-size: 1rem;
  margin: 0;
  padding: 1em;
  outline: white;
  border-radius: 10px;
  overflow-wrap: break-word;
}
.code-block-input {
  opacity: 1;
  z-index: 1;
  background: #1d1f21;
  caret-color: white;
}
.code-block-input::spelling-error {
  text-decoration: none;
}

.code-block-output {
  pointer-events: none;
  z-index: 3;
}

code {
  white-space: initial;
}

